# Database
DB_URL=postgresql://user:pass@db:5432/tibiacores

# JWT
JWT_SECRET=your-jwt-secret-key
REFRESH_TOKEN_SECRET=your-refresh-token-secret-key

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Email (Mailgun)
MAILGUN_DOMAIN=your.domain.com
MAILGUN_API_KEY=your-mailgun-api-key
EMAIL_FROM_ADDRESS=noreply@your.domain.com  # Optional, defaults to noreply@MAILGUN_DOMAIN

# Environment
APP_ENV=development  # or production
PORT=8080

# discord oauth
DISCORD_CLIENT_ID=your-discord-client-id
DISCORD_CLIENT_SECRET=your-discord-client-secret
DISCORD_REDIRECT_URI=http://localhost:5173/oauth/discord/callback

# google oauth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:5173/oauth/google/callback